.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0 0;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  a:hover::after,
  a:focus::after {
    transform: scale(1.25, 2.5);
  }

  h1 {
    font-size: 5rem;
  }
}
